public-hoist-pattern[]=*
shamefully-hoist=true
block-exotic-subdeps=false
enable-pre-post-scripts=true
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=electron-winstaller
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lzma-native
onlyBuiltDependencies[]=macos-alias
onlyBuiltDependencies[]=fs-xattr