node-linker=hoisted
shamefully-hoist=true
block-exotic-subdeps=false
enable-pre-post-scripts=true
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=electron-winstaller
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lzma-native
onlyBuiltDependencies[]=macos-alias
onlyBuiltDependencies[]=fs-xattr
onlyBuiltDependencies[]=msgpackr-extract